body {
    background-color: #fcfcfc;
}

.title-bar {
    width: 400px;
    height: 5px;
    background-color: #67318f;
    margin-bottom: 2em;
}

ul li.active {
    background-color: rgba(103, 49, 143, 0.4) !important;
    border-bottom: none;
}


#login-info {
    display: none;
}

#no-login-info {
    display: none;
}